@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}


.summary-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.1);
}

.link {
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 4px 10px;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  background: #f1f1f1 !important;
}